<style type="text/css">
body {
  background: <%= settings.background_color %>;
  font-family: 'Lato', sans-serif;
  color: <%= settings.text_color %>;
  text-align: center;
}

.wrapper {
  max-width: 450px;
  margin: 17% auto;
}
</style>

<div class="wrapper">
  <h1>Request to <%= @team_name %> <%= @result ? 'Success' : 'Fail' %></h1>

  <% if @result %>
  <p>
    Chceck your email(<%= @email %>)
  </p>
  <% end %>
</div>